<h1>User Audit Log</h1>

<%= form_with id: "bulk-actions" do |f| %>
  <ul>
    <li>
      <%= f.button name: bulk_actions_status_field_name, value: :unknown, type: "submit", formmethod: :patch, formaction: update_multiple_users_url, data: {turbo_confirm: "Are you sure you want to mark these users as unknown?"} do %>
        Mark selected as <%= status_badge(:unknown) %> Unknown
      <% end %>
    </li>
    <li>
      <%= f.button name: bulk_actions_status_field_name, value: :warn, type: "submit", formmethod: :patch, formaction: update_multiple_users_url, data: {turbo_confirm: "Are you sure you want to mark these users with a warning?"} do %>
        Mark selected with a <%= status_badge(:warn) %> warning
      <% end %>
    </li>
    <li>
      <%= f.button name: bulk_actions_status_field_name, value: :alert, type: "submit", formmethod: :patch, formaction: update_multiple_users_url, data: {turbo_confirm: "Are you sure you want to mark these users with an alert?"} do %>
        Mark selected with an <%= status_badge(:alert) %> Alert
      <% end %>
    </li>

    <li>
      <%= f.button name: bulk_actions_status_field_name, value: :approved, type: "submit", formmethod: :patch, formaction: update_multiple_users_url, data: {turbo_confirm: "Are you sure you want to mark these users as approved?"} do %>
        Mark selected as <%= status_badge(:approved) %> Approved
      <% end %>
    </li>

    <li>
      <%= f.button name: nil, type: "submit", formmethod: :delete, formaction: destroy_multiple_users_url, data: {turbo_confirm: "Are you sure you want to delete these users?"} do %>
        Delete selected
      <% end %>
    </li>
<% end %>

<%= turbo_frame_tag "users" do %>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Status</th>
        <th>Name</th>
        <th>Email</th>
        <th>Domain</th>
        <th>IP Address</th>
        <th>MAC Address</th>
        <th></th>
      </tr>
    </thead>

    <%= render partial: "user_table_row", collection: @users, as: :user, cache: true %>
  </table>
<% end %>

<%= form_with url: users_url, method: :get do |f| %>
  <% if @pagination_calculator.has_previous_page? %>
    <%= f.button type: "submit", name: "page", value: 1 do %>
      First
    <% end %>

    <%= f.button type: "submit", name: "page", value: @pagination_calculator.previous_page do %>
      Previous
    <% end %>
  <% end %>

  <%= f.label "Page", for: "page-goto" %>
  <%= f.text_field :page, value: @pagination_calculator.current_page, id: "page-goto" %>
  of <%= @pagination_calculator.last_page_number %>
  <%= f.button "Go", name: nil, type: "submit" %>

  <% if @pagination_calculator.has_next_page? %>
    <%= f.button type: "submit", name: "page", value: @pagination_calculator.next_page do %>
      Next
    <% end %>

    <%= f.button type: "submit", name: "page", value: @pagination_calculator.last_page_number do %>
      Last
    <% end %>
  <% end %>
<% end %>